<header class="header">
    <div class="logo">DevAluno</div>

    <nav class="menu">
        <a href="/" class="{{#if (eq currentRoute "/")}}active{{/if}}">Home</a>
        <a href="/alunos" class="{{#if (eq currentRoute "/alunos")}}active{{/if}}">Ver Alunos</a>
        <a href="/cadastrar" class="{{#if (eq currentRoute "/cadastrar")}}active{{/if}}">Cadastrar Aluno</a>
    </nav>
</header>
