<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">


    {{#if css}}
        <link rel="stylesheet" href="/css/{{css}}.css">
    {{/if}}



    <title>Home</title>
</head>
<body>
    {{> header}}
    {{{body}}}
    {{> footer}}
</body>
</html>

<style>
    .page-content {
    flex: 1;                 /* faz o conteúdo ocupar o espaço e empurrar o footer */
    width: 100%;
    display: flex;
    justify-content: center; /* centraliza o .container */
    padding: 20px 0;
}

</style>