<div class="container">
    <div class="card">
        <h1 class="titulo">Gerenciador de Alunos</h1>
        <p class="subtitulo">CRUD para cadastrar, listar, editar e excluir alunos.</p>

        <div class="botoes">
            <a href="/alunos" class="btn listar">Ver alunos</a>
            <a href="/cadastrar" class="btn novo">Cadastrar aluno</a>
        </div>
    </div>
</div>
