* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

body {
    min-height: 100vh;      /* ocupa a tela toda */
    display: flex;
    flex-direction: column; /* header, main, footer em coluna */
    align-items: center;    /* se quiser tudo centralizado na horizontal */
    /* remova justify-content: center; */
}
.page-content {
    flex: 1;                 /* ocupa o espaço entre header e footer */
    width: 100%;
    display: flex;
    justify-content: center; /* centraliza a .container da página */
    padding: 20px 0;
}
